*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1900px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1750px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
h2 {
  font-family: 'Atteron Personal Use', sans-serif;
  font-size: 41px;
  font-weight: 400;
  line-height: 1.2;
  color: #5F6D77;
}

h3 {
  font-size: 21px;
  font-weight: 400;
}

p,
ul,
nav ul li a {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: .5px;
  color: inherit;
}

.foreword {
  font-family: 'Pantherdam Signature', sans-serif;
  font-size: 96px;
  color: #393D5F;
}

/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 999;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 19px 0;
  width: 100%;
  max-width: 188px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #333333;
  line-height: 1.2;
  -webkit-appearance: inherit;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  border: 0.5px solid #3B3D60;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn2 {
  color: #fff;
  background: #3B3D60;
}

.btn:hover {
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #fff;
  background: #3B3D60;
}

.btn2:hover {
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #333333;
  background: unset;
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}


img {
  width: 100%;
}

.to-db {
  display: block;
}

@media (max-width: 959px) {
  .to-db {
    display: inline;
  }
}

/*SOCIAL*/
.socials img {
  max-width: 48px;
}

.long-arrow-right {
  transform: rotate(135deg);
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #555555;
  border-left: 2px solid #555555;
  margin-left: 44px;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.long-arrow-right::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: #555555;
  transform: rotate(-45deg) translate(15px, 7px);
  left: 0;
  top: 0;
}

.btn:hover .long-arrow-right {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.btn:hover .long-arrow-right::after {
  background-color: #fff;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.fa-solid,
.fas {
  font-size: 12px;
}

/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

#header.fixed {
  position: fixed;
  background-color: rgb(250 250 250 / 90%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#header.fixed .logo-holder img {
  transition: max-width 0.3s ease;
}

#header .logo-holder {
  margin-top: 11px;
}

#header .logo-holder img {
  max-width: 430px;
}

#header .nav-holder {
  width: 100%;
  max-width: 798px;
}

#header nav a#pull {
  display: none
}

#header nav {
  position: relative;
  z-index: 999;
}

#header nav ul {
  justify-content: space-between;
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  font-weight: 500;
  color: #130F2B;
  padding: 20px 0;
  display: inline-block;
  position: relative;
}

nav ul li a::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #130F2B;
}

nav ul li.active-menu a,
nav ul li a:hover {
  opacity: 1;
  font-weight: 900;
}

nav ul li a:hover::before {
  bottom: 10px;
  opacity: 1;
}


/*-----------------------------------------------BANNER-----------------------------------------------*/
#banner {
  background: url('../images/content/banner-bg.jpg')no-repeat top left;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 1011px;
  position: relative;
  text-align: left;
  padding-top: 228px;
}

#banner .banner-con {
  width: 100%;
}

#banner .ban-title {
  font-family: 'Atteron Personal Use', sans-serif;
  font-size: 51px;
  font-weight: 500;
  line-height: 1.7;
  color: #130E2B;
}

#banner .to-sm {
  font-size: 15px;
  width: 100%;
  max-width: 780px;
  color: #31313F;
  line-height: 1.8;
}

#banner .to-sm i {
  font-weight: 700;
}

#banner .btn {
  margin: 34px 0 auto;
}

/*-----------------------------------------------CONTENT-----------------------------------------------*/
/*WELCOME*/
#welcome {
  background: url('../images/content/welcome-bg.jpg')no-repeat top right;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 70px 0;
}

#welcome .row {
  background: url('../images/content/welcome-con-bg.jpg')no-repeat top right;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  max-width: 1733px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0;
  box-shadow: 8px 24px 38px -24px rgba(0, 0, 0, 0.45);
  padding: 58px 90px 58px 0;
}

.welcome-con.flex {
  width: 100%;
  max-width: 1275px;
  align-items: center;
  gap: 20px;
}

#welcome .left {
  display: flex;
  flex-wrap: wrap;
  gap: 96px;
  width: 100%;
  max-width: 470px;
}

#welcome .left img {
  max-width: 469px;
  box-shadow: 8px 24px 38px -24px rgba(0, 0, 0, 0.45);
}

#welcome .foreword {
  font-size: 80px;
  color: rgba(76, 90, 138, 0.6);
}

#welcome h1 {
  text-align: center;
  color: #606E77;
  margin-top: -15px;
}

#welcome .right {
  width: 100%;
  max-width: 782px;
  text-align: left;
}

#welcome .wrapper {
  width: 100%;
  max-width: 631px;
  margin: 20px 0 0 auto;
}

#welcome ul {
  list-style: none;
}

#welcome .dropdown {
  font-family: 'Atteron Personal Use', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  border-bottom: .5px solid #BBBBBB;
  padding: 8px 0 5px;
}

#welcome .dropdown p {
  /* display: none; */
  line-height: 2;
  font-family: 'Poppins';
  margin: 10px 0 !important;
}

#welcome .dropdown:hover p {
  display: block;
}

#welcome .right p {
  color: #333333;
  margin: 30px 0 20px;
}

#welcome .name {
  font-family: 'Atteron Personal Use', sans-serif;
  font-size: 18px;
  color: #333333;
}

#welcome .name span {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  color: #666666;
}

#welcome .btn {
  margin: 35px 0 0 auto;
}


/* OUR PLANS */
#plans {
  background: url('../images/content/plans-bg.jpg')no-repeat top left;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  padding: 50px 0 150px;
}

#plans .top {
  align-items: center;
}

#plans .top .right {
  width: 100%;
  max-width: 1007px;
  margin-right: 55px;
}

#plans .foreword {
  padding: 0 102px 0 50px;
}

#plans .top .left .line {
  width: 0.5px;
  background: #BBBBBB;
}

#plans hr {
  margin: 0;
}

#plans .right p {
  font-size: 19px;
  font-weight: 500;
}

#plans .right p:nth-child(1) {
  color: #3B3D60;
  font-style: italic;
  text-decoration: underline;
  font-weight: 700;
}

#plans .right p:nth-child(2) {
  color: #8C0000;
}

#plans .right p:nth-child(3) {
  color: #008C23;
}

#plans .bottom {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1307px;
  background: #BFFFFF;
  margin-top: 103px;
}

#plans .bottom .left {
  width: 100%;
  max-width: 737px;
  text-align: left;
  padding: 70px 60px 100px 100px;
}

#plans .bottom h2 {
  font-size: 35px;
  color: #3B3D60;
}

#plans .bottom p {
  color: #666666;
  margin: 20px 0 36px;
}

#plans .bottom .right {
  margin-top: -92px;
  margin-right: -302px;
}

#plans .bottom .right img {
  max-width: 876px;
}

.btn-holder-left {
  width: 100%;
  max-width: 428px;
}

.btn-holder-right {
  width: 100%;
  max-width: 110px;
  margin: auto;
}

.btn-prev::before {
  content: '<';
}

.btn-next::before {
  content: '>';
}

.btn-prev,
.btn-next {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 45px;
  height: 45px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: .5px solid #3B3D60;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-prev::before,
.btn-next::before {
  font-family: 'Staatliches', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #3A3D5F;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* ABOUT */
#about {
  background: url('../images/content/about-bg.jpg')no-repeat top left;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  padding: 50px 0 0;
}

#about .row {
  align-items: center;
  background: url('../images/content/about-row-bg.png')no-repeat top right;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 1149px;
  justify-content: right;
  width: 100%;
  max-width: 1569px;
  padding-right: 70px;
}

#about .right {
  text-align: left;
  width: 100%;
  max-width: 920px;
  padding: 33px 20px 50px;
  margin-top: -47px;
}

#about .right .con {
  width: 100%;
  max-width: 756px;
  text-align: left;
  margin: -39px 0 0 auto;
}

#about .con h2 {
  color: #3A3D5F;
}

#about .con .top {
  margin-bottom: 50px;
}

#about .con .top p {
  margin: 0 !important;
}

#about .con p {
  margin: 25px 0;
  color: #666666;
}

/* ELEGANCE */
#elegance {
  background: url('../images/content/elegance-bg.jpg')no-repeat top left;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  color: #fff;
  text-align: left;
  padding: 170px 0;
  margin-top: -2px;
}

#elegance .row {
  max-width: 1432px;
}

#elegance .elegance-con {
  width: 100%;
  max-width: 817px;
}

#elegance .foreword {
  color: #fff;
  margin-top: 50px;
  font-size: 80px;
}

#elegance h2 {
  text-align: center;
  color: #fff;
  font-size: 31px;
  margin-top: -9px;
}

#elegance p {
  width: 100%;
  max-width: 784px;
  margin: 42px 0 23px auto;
  line-height: 1.9;
}

#elegance .btn {
  margin: 0 0 0 30px;
  color: #fff;
  border: 0.5px solid #fff;
}

#elegance .long-arrow-right {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

#elegance .long-arrow-right::after {
  background-color: #fff;
}

#elegance .btn:hover {
  background: #fff;
  color: #3B3D60;
}

#elegance .btn:hover .long-arrow-right {
  border-top: 2px solid #3B3D60;
  border-left: 2px solid #3B3D60;
}

#elegance .btn:hover .long-arrow-right::after {
  background-color: #3B3D60;
}

/* TESTIMONIALS */
#testimonials {
  background: url('../images/content/testimonials-bg.jpg')no-repeat top left;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  text-align: left;
  min-height: 1298px;
}

#testimonials .row {
  width: 100%;
  max-width: 1522px;
}

#testimonials .top {
  background: url('../images/content/qoute.png')no-repeat top left;
  padding: 157px 0 30px 30px;
  width: 100%;
  max-width: 445px;
}

#testimonials h1 {
  text-align: right;
  margin-top: -34px;
  font-size: 52px;
  color: #646473;
}

#testimonials .testi-con {
  gap: 20px;
}

#testimonials .card {
  width: 100%;
  max-width: 721px;
  padding: 58px 55px;
  background: #fff;
  border-radius: 15px;
  box-shadow: -8px 17px 29px -14px rgba(0, 0, 0, 0.45);
}

#testimonials .review1 {
  margin-top: 100px;
}

#testimonials .stars {
  max-width: 122px;
}

#testimonials p,
#testimonials .name {
  font-style: italic;
  margin: 5px 0;
}

#testimonials .name {
  font-size: 18px;
  margin-top: 10px;
}

/* CONTACT US */
#contact .row {
  max-width: 1502px;
  margin-top: -288px;
  background: #fff;
  padding: 72px 60px;
  box-shadow: 5px 11px 29px -14px rgba(0, 0, 0, 0.45);
}

#contact .foreword {
  font-family: 'Atteron Personal Use', sans-serif;
  font-size: 62px;
  color: #858585;
}

#contact .to-sm {
  width: 100%;
  max-width: 725px;
  margin: 20px auto;
  font-size: 16px;
  color: #666666;
  font-family: 'Arial', sans-serif;
}

/*gallery*/

#gallery h1 {}

#gallery img {
  display: block;
  margin: 10px;
}



/*CONTACT*/
#contact {
  position: relative;
}

#contact .ctc-form label {
  width: 49%
}

form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: #000;
  height: 60px;
  display: block;
  width: 100%;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto 8px;
  resize: none;
  background: #EEEEEE;
}

.ctc-form ::placeholder,
.ctc-form label {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 1.8;
  letter-spacing: .03px;
  text-align: left;
}

.ctc-form ::placeholder {
  color: #545454
}

.ctc-form textarea {
  height: 150px;
  padding-top: 10px;
}

.ctc-btns {
  width: 100%;
  max-width: 532px;
  align-items: center;
}

.ctc-form .btn {
  display: block;
  border: none;
  border-radius: 0;
  color: #fff;
  background: #000;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: url('../images/common/footer.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 70px 0 50px;
}

#footer .logo-holder {}

#footer .logo-holder img {
  max-width: 430px;
}

#footer .nav-holder {
  width: 100%;
}

#footer nav {
  width: 100%;
  max-width: 806px;
  margin: 50px auto 0;
}

#footer nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

#footer .copyrights {
  padding: 20px 0
}


.techno img {
  width: 52px;
  margin: 0 5px -14px;
}



/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto
}

.inner #content h1 {
  padding-bottom: 20px;
}


/*inner gallery*/
.img-responsive {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}


/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}



/*RESPONSIVE*/
/* @media screen and (max-width: 1440px) {

  .flex {
    justify-content: center;
  }

  #plans .line {
    display: none;
  }

  #plans .bottom {
    max-width: 100%;
  }

  #plans .bottom .right {
    margin: 0;
  }

  #testimonials .top {
    margin: 0 auto;
  }

  #contact .row {
    margin-top: 0;
  }

}

@media screen and (max-width: 1244px) {
  #header .row {
    flex-direction: column-reverse;
  }

  #header .nav-holder {
    margin: 0 auto;
  }

  #banner {
    padding-top: 285px;
  }
}

@media screen and (max-width: 959px) {

  #header .row {
    width: 100%;
    padding: 0;
  }

  #header .nav-holder {
    max-width: 100%;
  }

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
  }

  #header nav ul li {
    width: 100%;
    position: relative;
  }

  #header nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cta {
    background: #035B96 url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #013f9a;
    border-top-left-radius: 40px;
    bottom: 10%;
    display: block;
    height: 60px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 60px;
    z-index: 999;
  }
} */